.newchat_dropdown{
    height: 100%;
}

.newchat_dropdown_header{
    background: var(--content-bg);
    padding: 40px 30px 20px;
    display: flex;
    align-items: center;

}
.newchat_dropdown_header h1{
    color: var(--primary-text);
    font-size: 20px;
    font-weight: 400;
    margin: 0 20px;
}

.newchat_dropdown_prevbtn{
    border: none;
    background: none;
    cursor: pointer;
}

.newchat_dropdown_body{
    height: 88%;
    width: 100%;
    background: var(--body-bg);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 50px 0;
}
.newchat_dropdown_body input{
    padding: 4px 8px;
    font-size: 16px;
    border: none;
    background: var(--primary-text);
    outline: none;
}

.newchat_dropdown_body button{
    padding: 4px 10px;
    font-size: 16px;
    background: var(--primary-text);
    border:none;
    border-left: 1px solid black;
    outline: none;
    cursor: pointer;
    font-weight: 600;
    transition: .3s;
}
.newchat_dropdown_body button:hover{
    background: var(--outgoing-message-bg);
    color: var(--primary-text);
}