.user_chat{
    position: relative;
}
.user_chat_not_active{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}
.user_chat_not_active p{
    color: var(--secondary-text);
    margin:  0 0 30px 0;
}

.user_chat_not_active_content {
    color :var(--primary-text);
    text-align: center;
    margin: 0 0 100px 0;
}

.user_chat_not_active_content h1 {
    font-size: 30px;
    font-weight: 500;
    margin: 15px 0;
}
.user_chat_not_active_content p {
    font-weight: 400;
    line-height: 1.3em;
    font-size: 15px;
    margin: 8px 0;
}




/* =====================HEADER=================== */
.user_chat_header{
    background: var(--content-bg);
    display: grid;
    grid-template-columns: 15fr 2fr;
    padding: 5px 15px;
    position: relative;
}

.user_chat_contact{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.user_chat_contact img{
    width: 53px;
    border-radius: 50%;
    margin: 0 20px 0 0;
}
.user_chat_contact h1{
    font-size: 20px;
    font-weight: 500;
    color: var(--primary-text);
}

.user_chat_navigation_btn{
    background: none;
    border:none;
    cursor: pointer;
}

/* ======================+BODY======================= */


/* =====================FOOTER========================= */

.user_chat_footer{
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    background: var(--content-bg);
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0 8px 0;
}

.user_chat_footer input {
    width: 85%;
    padding: 8px 10px;
    font-size: 22px;
    border: none;
    margin: 0 10px;
    outline: none;
    border-radius: 7px;
    background: var(--content-body-bg);
    color: var(--primary-text);
}

.user_chat_footer button {
    border: none;
    background: none;
    transform: rotate(45deg);
    cursor: pointer;
}

/* ====================DROPDOWN================== */
.chat_option_dropdown_gen{
    position: absolute;
    right: 70px;
    top: 70px;
}